<a href="https://colab.research.google.com/github/rahmotganiu-hub/ACCESS-SAP-Data-Science-Track/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def summarize_transactions(transactions):
    if not transactions:
      print("No transactions available.")
      return
    total = sum(transactions)
    count = len(transactions)
    average = total / count

    print("Total Sum:", total)
    print("Average:", average)
    print("Number of Transactions:", count)

In [ ]:
transactions_list =  [2000, 3500, 1500, 500]
summarize_transactions(transactions_list)

Total Sum: 7500
Average: 1875.0
Number of Transactions: 4